# Definición de archivos para la recuperación de podcasts para radios online
# Debe cumplirse los estandares de yaml reemplazando los datos de ejemplo por
# el contenido respectivo
---
<slug1>:
  name: <Podcast program name>
  url: <Podcast URL>
  author: <Podcast Author>

<slug2>:
  name: <Podcast program name>
  url: <Podcast URL>
  author: <Podcast Author>  